@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";    
}

body{
    background: #f4f4f4;
    margin: 0px !important;
    line-height: 1.5;
}

.wrapper {
    max-width: 800px;
    height: auto;
    padding: 2rem 1rem;
    margin: 50px auto;
    margin-top: 3%;
    margin-bottom: auto;
    background-color: #fff;
    text-align: center;    
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #07001f;
    margin-top: 3%;
    margin-bottom: 1.2rem;
}

form input, form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 5px;
    margin-top: 5px;    
    background: #e4e4e4;
    resize: none;
}

.createbutton{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;   
    outline: none;
    border: none;
    width: 70%;
    cursor: pointer;
    background: #f0544f;
}

.createbutton:hover {
    background: #f56c68;
}

.create {
    color: #ffffff;
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.error{
    color: #636366;
    text-align: left;
    font-size: 12px;
}
.createform{
    width: 80%;
    margin-left: 10%;
}

.categories{
    margin: 5px;
    width: 100%;
    display: inline-block;  
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    display: none;
    
}
.boxlabel {
    margin: 10px;
}

input[type="checkbox"]:checked+label{
    padding: 4px;
    background-color: #f0544f;
    color: white;
  }

  ::placeholder{
    font-size: 20px;
  } 
