@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

* {
margin: 0;
padding: 0;
/* border: 1px solid black; */
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

a { 
    text-decoration: none; 
    color: inherit;
}

.signup, .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100px);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    height: fit-content;
}

.input {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    gap:5px;
    margin-bottom: 20px;
}

.input input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.checkbox-container {
	display: flex;
	align-items: center; /* Center items vertically */
	justify-content: center; /* Center items horizontally */
}

.checkbox-container-inner {
  	align-items: center;
    
}

h1 {
    color: wheat;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}

.svg {
    width: 30px;
    height: 30px;
}

.svg svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.svg svg path {
    fill: #333f33;
}

legend {
	color: rgba(0, 0, 0, 0.6);
}

.checkbox-1 {
	color: rgba(0, 0, 0, 0.6);
    width: 100%;
    overflow: hidden; 
}
.background {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 674px) {
    .signup,.login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(100px);
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
        padding: 50px;
        border-radius: 20px;
        text-align: center;
        width: 70%;
        height: fit-content;
    }
}
