@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: #f4f4f4;;
    margin: 0px !important;
    line-height: 1.5;
}

.wrapper {
    max-width: 650px;
    height: auto;
    padding: 2rem 1rem;
    margin: 50px auto;
    margin-top: 3%;
    margin-bottom: auto;
    background-color: #fff;
    /* border-radius: 10px; */
    text-align: center;
    
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #07001f;
    margin-top: 3%;
    margin-bottom: 1.2rem;
}

form input {
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* border-radius: 20px; */
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    /* border-radius: 20px; */
    outline: none;
    border: none;
    width: 70%;
    cursor: pointer;
    background: #f0544f;
}

button:hover {
    background: #f56c68;
}

.sign {
    color: #ffffff;
}

/* this forces you to focus on the exact placeholder */
input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636366;
}

.member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.error{
    color: #636366;
    text-align: left;
    font-size: 12px;
}
form{
    width: 80%;
    /* text-align: left; */
    margin-left: 10%;
}