{{ define "comment" }}
<div class="first">
{{range .}}
    <div class="comm">

        <div class="commauthor">
            <img src="/ui/assets/img/user.png">
            <p>{{.User.Name}}</p>
        </div>
        <form action="/reaction" method="post">
            <p class="content">{{.Content}}</p>
            <input type="hidden" name="object" value="comment">
            <input type="hidden" name="id" value="{{.ID}}">
            <button class="buttons" type="submit" name="reaction" value="like">
                <img class="likeimage"
                    src="/ui/assets/img/{{if eq .UserReaction `like`}}likepressed.png{{else}}like.png{{end}}"></button>
            <details>
                <summary class="reactcount">{{.Likes}}</summary>
                <!-- {{range .Likes.Users}}
                {{.}}
                {{end}} -->
            </details>
            <button class="buttons" type="submit" name="reaction" value="dislike">
                <img class="dislikeimage"
                    src="/ui/assets/img/{{if eq .UserReaction `dislike`}}likepressed.png{{else}}like.png{{end}}"></button>
            <details>
                <summary class="reactcount">{{.Dislikes}}</summary>
<!-- 
                {{range .Dislikes.Users}}
                {{.}}<br>
                {{end}} -->
            </details>
        </form>
       
        <details class="replyform">
            <summary><div id="replybutton"><img src="/ui/assets/img/reply.png">reply</div></summary>
            <form method="post">
                <input type="hidden" name="parent" value="{{.ID}}">
                <input type="text" class="reply" name="content" placeholder="reply..." required>
                <button type="submit" class="createbutton">
                    <img src="/ui/assets/img/send.png"></button>
            </form>
        </details>
    </div>
        
    
    {{with .Replies}}
    {{template "comment" .}}
    {{end}}
    {{end}}
</div>
{{end}}

{{ template "comment" .}}