{{ define "header" }}
    <nav>
        <div class="nav-container">
          <a href="/" class="logo">Forum</a>
          <div class="navbar">
            <a href="/">Home</a>
            {{if .IsAuthorized}}
              <a href="/posts/create">Create a post</a>
              <a href="/posts/liked">Liked Posts</a>
              <a href="/posts/created">My Posts</a>
              <a href="/logout">Logout<p class="logoutname">{{.User.Name}}</p></a>
            {{else}}
              <a href="/signin">Login</a>
            {{end}}

          </div>
          <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </nav>
    
      <script src="/ui/assets/js/script.js"></script>

{{ end }} 

