<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/assets/css/login.css">
    <link rel="stylesheet" href="/ui/assets/css/footer.css">
    <link rel="stylesheet" href="/ui/assets/css/header.css">
    <link rel="icon" href="/ui/assets/img/icon.png">
    <title>Sign Up</title>
</head>

<body>
    {{ template "header" .}}
    <div class="wrapper">
        <h1>Sign up</h1>
        <form action="{{ .Endpoints.SignupEndpoint }}" method="POST">
            <input type="text" name="email" value="{{if .Content}}{{.Content.Email}}{{end}}" placeholder="Email" required>
            {{with .Errors.email}}
            <p class="error">{{.}}</p>
            {{end}}

            <input type="text" name="name" value="{{if .Content}}{{.Content.Name}}{{end}}" placeholder="Name" required>
            {{with .Errors.name}}
            <p class="error">{{.}}</p>
            {{end}}

            <input type="password" name="password" placeholder="Password" required>
            {{with .Errors.password}}
            <p class="error">{{.}}</p>
            {{end}}
            
            <button type="submit">
                <div class="sign">Sign Up</div>
            </button>

        </form>
        <div class="terms">            
            <div class="member">
                Already a member? <a href="/login"> Login Here </a>
            </div>
        </div>
    </div>
    {{ template "footer" .}}
</body>

</html>