<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/assets/css/login.css">
    <link rel="stylesheet" href="/ui/assets/css/footer.css">
    <link rel="stylesheet" href="/ui/assets/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" href="/ui/assets/img/icon.png">
    <title>Sign In</title>
</head>

<body>
    {{ template "header" .}}
    <div class="wrapper">
        <h1>Sign in</h1>
        <form action="/signin" method="POST">
            <input type="text" name="login" value="{{.Content}}" required placeholder="Username">
            {{with .Errors.email}}
            <p class="error">{{.}}</p>
            {{end}}
            <input type="password" name="password" required placeholder="Password">
            {{with .Errors.password}}
            <p class="error">{{.}}</p>
            {{end}}
            <button>
                <div class="sign">Login</div>
            </button>
        </form>
        <div class="terms">
            <div class="member">
                Not a member? <a href="/signup"> Register Now </a>
            </div>
        </div>
    </div>

    {{ template "footer" .}}

</body>

</html>