<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{ .Comment.Content }}
    <hr>
    <hr>
    {{ range .Comment.Replies }}
    {{ .User.Name }}:
    <p>
        {{ .Content }}
        likes: {{  }}
    </p>
    <hr>
    {{ end }}
    <hr>

    Add Reply:
    <form action="{{ .Endpoints.CreateCommentEndpoint }} " method="POST">
        <textarea name="content" placeholder="comment..."></textarea>
        <input type="hidden" name="post_id" value="{{ .Comment.PostID }}">
        <input type="hidden" name="next" value="{{ .Endpoints.CommentDetailsEndpoint }}{{ .Comment.ID }}">
        <input type="hidden" name="parent_id" value="{{ .Comment.ID }}">
        <button type="submit">add</button>
    </form>


</body>

</html>