<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ui/assets/css/create_post.css">
    <link rel="icon" type="image/png" href="/ui/assets/img/robot.png">
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Create Post</title>
</head>
<body>

    <!-- Navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top py-3">
          <div class="container"><a href="{{ .Endpoints.PostsAllEndpoint }}" class="navbar-brand text-uppercase font-weight-bold">Forum</a>
              <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
              
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{{ .Endpoints.PostsAllEndpoint }}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    {{ if .IsAuthorized }}
                    <li class="nav-item"><a href="{{ .Endpoints.CreatePostEndpoint }}" class="nav-link text-uppercase font-weight-bold">Create Post</a></li>
                    <li class="nav-item"><a href="{{ .Endpoints.PostsAllEndpoint }}?filter=created" class="nav-link text-uppercase font-weight-bold">My Posts</a></li>
                    <li class="nav-item"><a href="{{ .Endpoints.PostsAllEndpoint }}?filter=liked" class="nav-link text-uppercase font-weight-bold">Liked</a></li>
                    <li class="nav-item"><a href="{{ .Endpoints.LogoutEndpoint }}" class="nav-link text-uppercase font-weight-bold">Logout</a></li>
                    {{ end }}
                    {{ if not .IsAuthorized }}
                    <li class="nav-item"><a href="{{ .Endpoints.SignupEndpoint }}" class="nav-link text-uppercase font-weight-bold">Signup</a></li>
                    <li class="nav-item"><a href="{{ .Endpoints.LoginEndpoint }}" class="nav-link text-uppercase font-weight-bold">Login</a></li>
                    {{ end }}
                  </ul>
              </div>
          </div>
      </nav>
    </header>

    <form action="{{ .Endpoints.CreatePostEndpoint }}" class="login" method="POST">
        <h1>Create Post</h1>
        <p>{{ if .Errors }} {{index .Errors "title" }} {{end}}</p>
        <p>{{ if .Errors }} {{index .Errors "content" }} {{end}}</p>
        <div class="input1">
            <div class="svg">
              <svg fill="#000000" width="800px" height="800px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">

                <rect id="Icons" x="-128" y="-64" width="1280" height="800" style="fill:none;"/>
                
                <g id="Icons1" serif:id="Icons">
                
                <g id="Strike">
                
                </g>
                
                <g id="H1">
                
                </g>
                
                <g id="H2">
                
                </g>
                
                <g id="H3">
                
                </g>
                
                <g id="list-ul">
                
                </g>
                
                <g id="hamburger-1">
                
                </g>
                
                <g id="hamburger-2">
                
                </g>
                
                <g id="list-ol">
                
                </g>
                
                <g id="list-task">
                
                </g>
                
                <g id="trash">
                
                </g>
                
                <g id="vertical-menu">
                
                </g>
                
                <g id="horizontal-menu">
                
                </g>
                
                <g id="sidebar-2">
                
                </g>
                
                <g id="Pen">
                
                <path d="M56.009,51.832l0,4.2l-33.652,-0.026l4.709,-4.174l28.943,0Z" style="fill-rule:nonzero;"/>
                
                <path d="M48.453,8.119c1.65,0 2.506,0.129 4.753,2.011c2.294,1.922 2.707,3.42 2.803,5.088c0.102,1.795 -0.504,3.975 -2.188,5.681l-31.961,31.961c-0.52,0.475 -0.63,0.449 -0.977,0.553l-10.226,2.556c-1.472,0.299 -2.854,-1.049 -2.55,-2.549l2.557,-10.226c0.1,-0.334 0.133,-0.517 0.553,-0.977c10.696,-10.696 21.195,-21.593 32.09,-32.087c1.421,-1.335 3.497,-2.011 5.146,-2.011Zm0,4.143c-0.86,0.016 -1.698,0.371 -2.311,0.976l-31.54,31.541l-1.566,6.261l6.262,-1.565c10.544,-10.544 21.419,-20.768 31.63,-31.634c1.674,-1.825 0.444,-5.453 -2.306,-5.577c-0.056,-0.002 -0.112,-0.003 -0.169,-0.002Z" style="fill-rule:nonzero;"/>
                
                </g>
                
                <g id="Pen1" serif:id="Pen">
                
                </g>
                
                <g id="clock">
                
                </g>
                
                <g id="external-link">
                
                </g>
                
                <g id="hr">
                
                </g>
                
                <g id="info">
                
                </g>
                
                <g id="warning">
                
                </g>
                
                <g id="plus-circle">
                
                </g>
                
                <g id="minus-circle">
                
                </g>
                
                <g id="vue">
                
                </g>
                
                <g id="cog">
                
                </g>
                
                <g id="logo">
                
                </g>
                
                <g id="radio-check">
                
                </g>
                
                <g id="eye-slash">
                
                </g>
                
                <g id="eye">
                
                </g>
                
                <g id="toggle-off">
                
                </g>
                
                <g id="shredder">
                
                </g>
                
                <g id="spinner--loading--dots-" serif:id="spinner [loading, dots]">
                
                </g>
                
                <g id="react">
                
                </g>
                
                <g id="check-selected">
                
                </g>
                
                <g id="turn-off">
                
                </g>
                
                <g id="code-block">
                
                </g>
                
                <g id="user">
                
                </g>
                
                <g id="coffee-bean">
                
                </g>
                
                <g id="coffee-beans">
                
                <g id="coffee-bean1" serif:id="coffee-bean">
                
                </g>
                
                </g>
                
                <g id="coffee-bean-filled">
                
                </g>
                
                <g id="coffee-beans-filled">
                
                <g id="coffee-bean2" serif:id="coffee-bean">
                
                </g>
                
                </g>
                
                <g id="clipboard">
                
                </g>
                
                <g id="clipboard-paste">
                
                </g>
                
                <g id="clipboard-copy">
                
                </g>
                
                <g id="Layer1">
                
                </g>
                
                </g>
                
                </svg>
            </div>
            <input type="text" name="title" placeholder="Title" maxlength="100" required>
        </div>
        <div class="input1">
            <div class="svg">
              <svg width="800px" height="800px" viewBox="0 -4 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>content / 33 - content, code, css, html, html code, script icon</title>
                <g id="Free-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g transform="translate(-303.000000, -456.000000)" id="Group" stroke="#000000" stroke-width="2">
                        <g transform="translate(301.000000, 450.000000)" id="Shape">
                            <polyline points="8 17 3 11.8672478 8 7">
            
            </polyline>
                            <polyline points="16 17 21 11.8672478 16 7">
            
            </polyline>
                        </g>
                    </g>
                </g>
            </svg>
            </div>
            <input name="content" maxlength="200" placeholder="Content"></textarea>
        </div>

        <fieldset class="input checkboxx-containerr">
            
            {{range .Categories }}
            <div class="checkbox-1">
                <input type="checkbox" name="category" value="{{.Name}}" id="{{.Name}}">
                <label for="{{.Name}}">{{.Name}}</label>
            </div>
            {{end}}
        </fieldset>
        <div class="input1 margin-input">
            <input type="submit"value="Submit">
        </div>
    </form>
    <!-- <img class="background"src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3630ff67-8105-44c7-aa55-86bbcff6eeb4/d76237h-a164687b-ad08-43d1-889a-31dc1970818a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM2MzBmZjY3LTgxMDUtNDRjNy1hYTU1LTg2YmJjZmY2ZWViNFwvZDc2MjM3aC1hMTY0Njg3Yi1hZDA4LTQzZDEtODg5YS0zMWRjMTk3MDgxOGEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jmaSE-PZcsdEoOyx-ypeSBH6ioCXzuV91nrEEXAbW5A" alt=""> -->

  </body>
</html>

<script>
  $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});

</script>