<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/auth/signup">signup</a>
    <a href="/auth/login">login</a>
    <a href="/auth/logout">logout</a>


<div>
    <hr>
    {{ range . }}
        <p>
            author: {{ .User.Name }}
        </p>
        <p>
            title: {{ .Title}}
        </p>
        <p>
            Content: {{ .Content }}
        </p>
        <p>
            Created: {{ .Created }}
        </p>
        <p>
            Categories:
            {{ range .Categories }}
                {{ . }}
            {{ end }}
    <hr>
    {{ end }}
    </p>

</div>
</body>
</html>