<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    author: {{ .User.Name }}
</p>
<p>
    title: {{ .Title}}
</p>
<p>
    Content: {{ .Content }}
</p>
<p>
    Created: {{ .Created }}
</p>
    Categories:
    {{ range .Categories }}
    {{ . }}
    {{ end }}
<hr>

Comments:
<p>
{{ range .Comments }}
    {{ .Content }}

<form action="/posts/comment" method="POST">
    <textarea name="content" placeholder="reply..."></textarea>
    <input type="hidden" name="post_id" value="{{ .PostID }}">
    <input type="hidden" name="parent_id" value="{{ .ID }}">
    <button type="submit">add</button>
</form>
<a href="/posts/comments/{{ .ID }}">
    {{ .ReplyCount }} replies
</a>
    <hr>

{{ end }}
<hr>
</p>

Likes: {{ .Likes }}
<form action="/posts/reaction" method="POST">
    <input type="hidden" name="reaction" value="1">
    <input type="hidden" name="post_id" value="{{.ID}}">
    <button type="submit">like</button>
</form>
<hr>

Dislike: {{ .Dislikes }}
<form action="/posts/reaction" method="POST">
    <input type="hidden" name="reaction" value="0">
    <input type="hidden" name="post_id" value="{{.ID}}">
    <button type="submit">like</button>
</form>
<hr>

Add Comment:
<form action="/posts/comment" method="POST">
    <textarea name="content" placeholder="comment..."></textarea>
    <input type="hidden" name="post_id" value="{{ .ID }}">
    <input type="hidden" name="parent_id" value="0">
    <button type="submit">add</button>
</form>

</body>
</html>