<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{{ .Endpoints.SignupEndpoint }}" method="POST">
    <div>
        <input id="name" type="text" name="name" required>
        <label for="name">Name</label> {{ if .Errors}} {{ index .Errors "name" }} {{end}}
    </div>
    <div>
        <input id="email" type="text" name="email" required>
        <label for="email">Email</label> {{ if .Errors }} {{ index .Errors "email" }} {{end}}
    </div>
    <div>
        <input id="password" type="password" name="password" required>
        <label for="password">Password</label> {{ if .Errors }} {{ index .Errors "password" }} {{end}}
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>