<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{{ .Endpoints.SignupEndpoint }}" method="POST">
    <div>
        <input id="name" type="text" name="name">
        <label for="name">Name</label> {{ if . }} {{ index .Errors "name" }} {{end}}
    </div>
    <div>
        <input id="email" type="text" name="email">
        <label for="email">Email</label> {{ if . }} {{ index .Errors "email" }} {{end}}
    </div>
    <div>
        <input id="password" type="text" name="password">
        <label for="password">Password</label> {{ if . }} {{ index .Errors "password" }} {{end}}
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>`